

    <div class="jumbotron">
        <h1>Movie Finder </h1>
        <p></p>
    </div>

    <p class="p-3 m-3 border border-primary bg-light">
        This is a movie finder website. It allows its user to 
        find American movies from the from the  1980's to the early
        the early 2000's. A user can search these movies by title, 
        year it was made, and a key word. It will return important 
        information about the movie based on this search.
    </p>
    
    <% if (true || loggedIn) {%>  
        <form method="post" action="/courses/bySubject">
            Show Movies by Title: 
              <input type="text" name="title" 
                     placeholder="e.g. Beetlejuice">
            <input type="submit">
        </form>
        <br>
        <form method="post" action="/courses/byInst">
            Show Movies by Year: 
            <input type="text" name="year" 
                   placeholder="e.g. 2002">
            <input type="submit">
        </form>
        <br>
        <form method="post" action="/courses/byKeyWord">
            Show Movies by Keyword: 
              <input type="text" name="KeyWord" 
                     placeholder="e.g. war">
            <input type="submit">
        </form>

        <br>
        
       
        


    <% } %>


